.add__ad__wrapper__cancel__publish__buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .add__ad__cancel__button,
  .add__ad__publish__button {
    padding: 10px;
  }
}

@media screen and (min-width: 350px) {
  .add__ad__cancel__button,
  .add__ad__publish__button {
    padding: 13px 20px;
  }
}
