.loader__container {
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
