.ad__details__pseudo {
  margin-left: 10px;
}

.ad__details__picture {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

.ad__details__description {
  padding: 20px 0;
}

.ad__details__button__profil,
.ad__details__button__buy {
  float: right;
}

.ui.label {
  margin-top: 15px;
}

#ad__details__state__tag {
  margin-top: 0;
}

#ad__details__mail {
  margin-bottom: 10px;
}
