@use '../../../styles/variables' as var;

.hub__inventory {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: var.$fourthColor;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .hub__inventory__title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  .hub__grid__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .hub__inventory__item {
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
