@use '../../../styles/variables' as var;
.home__inventory {
  position: relative;
  width: 80%;
  margin: 30px auto 30px auto;
  padding: 20px;
  background-color: var.$mainColor;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: white;

  .home__inventory__title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    display: inline-block;
  }

  .home__show__inventory {
    float: right;
  }

  .home__grid__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: calc(200px * 5 + 20px * 4); /* Limite à 5 colonnes */

    .home__inventory__img__container {
      position: relative;
      transition: transform 0.3s ease-in-out;
      height: 200px;
      width: 200px;

      &:hover {
        transform: scale(1.05);
      }

      .home__inventory__item {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }

      .home__inventory__selltext {
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .home__inventory__opacity {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background-color: black;
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .home__grid__wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media screen and (max-width: 1168px) {
  .home__grid__wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 880px) {
  .home__grid__wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 600px) {
  .home__grid__wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
