@use '../../../styles/variables' as var;

.logo {

  width: 150px;
  height: 150px;

}

#header__desktop__dropdown__search {
  width: 250px;
}

.header__desktop__add__ad__button {
  padding: 10px 55px;
  border-radius: 3px;
}

.parentList {
  position: relative;
}

.list{
  position: absolute;
  background: lightgray;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: scroll;
  height: 140px;
  border-radius: 0 0 5px 5px;
  z-index: 10;
}

.theInput{
  padding: 10px;
  border-radius: 3px;
  width: 290px;

  @media screen and (max-width: 375px) {
    width: 250px;
  }

  @media screen and (max-width: 320px) {
    width: 200px;
  }

}
