@use '../../../styles/variables' as var;

.logo {
  width: 250px;
  height: 250px;
  margin: auto;
}

#header__desktop__dropdown__search {
  width: 250px;
}

.header__desktop__add__ad__button {
  padding: 10px 55px;
  border-radius: 3px;
}
