@use '../../../styles/variables' as var;

@media screen and (min-width: 412px) {
  .nav__icons {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 800px) {
  .nav__icons {
    font-size: 1.6rem;
  }
}

.header__mobile__icons {
  color: var.$secondColor;
  background-color: var.$mainColor;
}

#header__mobile__dropdown__search {
  width: 250px;
}

#header__mobile__dropdown__hub {
  right: -15px;
  left: auto;
  top: 25px;
}
