@use 'reset';
@use '../styles/variables' as var;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav__icons {
  cursor: pointer;
  color: var.$secondColor;

  &:hover {
    color: black;
  }
}

button,
input {
  border: none;
  outline: none;
  border-radius: 3px;
}
