@use 'reset';
@use '../styles/variables' as var;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav__icons {
  cursor: pointer;
  color: var.$secondColor;

  &:hover {
    color: black;
  }
}

button,
input {
  border: none;
  outline: none;
  border-radius: 3px;
}
