@use 'reset';
@use '../styles/variables' as var;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input {
  border: none;
  outline: none;
  border-radius: 3px;
}
