.edithub__container {
  width: 80%;
  margin: auto;

  .edithub__form {
    margin-top: 50px;
  }

  .edithub__title__section {
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  .edithub__confirm__button {
    margin-top: 25px;
    float: right;
  }

  #input__file__edit__hub {
    margin-bottom: 15px;
  }
}
