@use '../../styles/variables' as var;

.header {
  background-color: var.$mainColor;
  width: 100%;
  height: 60px;

  .wrapper__icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
