@use '../../styles/variables' as var;

.header {
  background-color: var.$mainColor;
  width: 80%;
  margin: auto;
  height: 60px;
  border-radius: 0px 0px 8px 8px;
  /* Annuler le border-radius sur la page d'accueil */

  .wrapper__icons {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* Media Queries */
  @media screen and (min-width: 320px) {
    width: 110%; /*  pour 320px */
  }

  @media screen and (min-width: 375px) {
    width: 110%; /*  375px */
  }

  @media screen and (min-width: 425px) {
    width: 110%; /* 425px */
  }

  @media screen and (min-width: 768px) {
    width: 80%; /*  768px */
  }

  @media screen and (min-width: 1024px) {
    width: 80%; /*  pour 1024px */
  }

  @media screen and (min-width: 1440px) {
    width: 80%; /*  pour 1440px */
  }
}

  body.home .header {
    border-radius: 0;
  }
  /* Annuler le border-radius sur la page de profil */
  body.hub .header {
    border-radius: 0;
  }

