@use '../../styles/variables' as var;

.header {
  background-color: var.$mainColor;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 25px;
  /* Annuler le border-radius sur la page d'accueil */

  .wrapper__icons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Media Queries */
}

body.home .header {
  border-radius: 0;
}
/* Annuler le border-radius sur la page de profil */
body.hub .header {
  border-radius: 0;
}
