@use '../../styles/variables' as var;

.contact__container{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;

  .contact__title{
    font-size: 24px;
    font-weight: bold;
  }

  .contact__form{
    display: flex;
    flex-direction: column;
    background-color: var.$mainColor;
    padding: 50px;
    gap: 10px;
    border-radius: 5px;

    .input__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      .contact__input{
        border: 1px solid black;
      }
    }

    .contact__form__button{
      padding: 5px;
    }
  }
}

