.ads__filter_container{
  width: 20%;
  padding: 30px;
  height: 1100px;
  border: 1px solid black;

  .ads__filter__title{
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 25px;
    padding-left: 20px;
  }

  .ads__filter__checkbox__container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 20px;

    .ads__filter__checkbox{

      .ads__filter__checkbox__input{
        margin-right: 10px;
      }

      .ads__filter__checkbox_label{
        font-size: 16px;
      }
    }
  }
}