@use '../../styles/variables' as var;

.register__container {
  width: 25%;
  margin: 100px auto 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__title {
  font-size: 25px;
  color: var.$titlesColor;
  margin: 20px 40px;
  text-align: center;
}
.register__text {
  font-size: 16px;
  margin: 5px 0px 40px 0px;
  color: #333;
  text-align: center;
}
.register__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}

.register__inputs {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var.$mainColor;
  padding: 0px 10px;
  font-size: 16px;
  color: #333;
  &:focus {
    border: 1px solid var.$secondColor;
  }
}

.register__sign__in__button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var.$mainColor;
  color: #000000;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.register__register__text {
  font-size: 15px;
  margin: 20px 0px 20px 0px;
  color: #333;
  text-align: center;
}

.register__register__link {
  color: var.$titlesColor;
  font-weight: bold;
}

.register__popup__container {
  width: 100%;
}

#register__popup__message__success {
  margin: 25px auto 0;
  padding: 25px;
  font-size: 1.1em;
  width: 70%;
  background-color: #b5ffb5;
}

#register__popup__message__fail {
  margin: 25px auto 0;
  padding: 25px;
  font-size: 1.1em;
  width: 70%;
  background-color: #ffadad;
}

//MEDIAS QUERIES
/* écrans de taille moyenne à grande*/
.register__container {
  width: 30%;
}
/* écrans de taille moyenne style tablette */
@media screen and (max-width: 768px) {
  .register__container {
    width: 50%;
  }
}
/*  petits écrans style mobiles */
@media screen and (max-width: 480px) {
  .register__container {
    width: 80%;
  }
}
