@use '../../styles/variables' as var;

.footer {
  position: relative;
  bottom: 0;
  background-color: var.$mainColor;
  width: 100%;
  padding: 10px 40px;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
  margin: 0 auto;

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Media Queries */
@media screen and (min-width: 320px) {
  .footer {
    width: 110%;
  }
}

@media screen and (min-width: 375px) {
  .footer {
    width: 110%;
  }
}

@media screen and (min-width: 425px) {
  .footer {
    width: 110%;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer__wrapper {
    justify-content: space-around;
  }
  .footer {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    width: 80%;
  }
}
