@use '../../styles/variables' as var;

.footer {
  position: relative;
  bottom: 0;
  background-color: var.$mainColor;
  width: 100%;

  padding: 10px 40px;
  margin: auto;
  margin-top: 100px !important;

  box-sizing: border-box;
  margin: 0 auto;
  color: white;

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .footer .footer__wrapper {
    justify-content: space-around;
  }
}
