@use '../../styles/variables' as var;

.hub__wrapper__buttons {
  margin-top: 15px;
  margin: 0 auto;
}

#hub__edit__hub {
  width: 100%;
  margin-bottom: 15px;
}

#hub__add__product {
  width: 100%;
}

#hub__delete__account__container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  #hub__delete__account {
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    right: 0;
    background-color: red;
    color: white;
  }
  #hub__delete__account:hover {
    background-color: rgb(230, 0, 0);
  }
}
