@use '../../styles/variables' as var;

.grid__wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .inventory__item {
    width: 100%;
    height: 100px;
  }
}

@media screen and (min-width: 300px) {
  .grid__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 500px) {
  .grid__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .description__container {
    padding: 15px 105px;
  }
  .grid__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
