@use '../../styles/variables' as var;

.hub__wrapper__buttons {
  margin-top: 15px;
  margin: 0 auto;
  
}

#hub__edit__hub {
  width: 100%;
  margin-bottom: 15px;
}

#hub__add__product {
  width: 100%;
}
