@use '../../styles/variables' as var;

.banner {
  height: 200px;
  width: 100%;
}

.description__container {
  background-color: var.$mainColor;
  display: flex;
  padding: 15px 25px;
  margin-bottom: 25px;
}

.avatar__pseudo {
  text-align: center;
}

.description__text {
  padding-top: 15px;
  padding-left: 25px;
  font-size: 0.9em;
}

.pseudo {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 5px;
}

.avatar {
  width: 75px;
  box-shadow: 3px 3px 5px 3px var.$thirdColor;
}
.inventory__title {
  font-weight: bold;
}

.inventory {
  width: 70%;
  margin: 0 auto;
}

.grid__wrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .inventory__item {
    width: 100%;
    height: 100px;
  }
}

@media screen and (min-width: 300px) {
  .grid__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 500px) {
  .grid__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .description__container {
    padding: 15px 105px;
  }
  .grid__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
