@use '../../../styles/variables' as var;

.hub__inventory {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background-color: var.$mainColor;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: white;

  .hub__inventory__title {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
  }

  .hub__grid__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: calc(200px * 5 + 20px * 4);
  }

  .hub__inventory__item {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 1440px) {
  .hub__grid__wrapper {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media screen and (max-width: 1168px) {
  .hub__grid__wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 880px) {
  .hub__grid__wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 600px) {
  .hub__grid__wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
