<<<<<<< HEAD
.hub__inventory {
  width: 70%;
  margin: 0 auto;

  .hub__inventory__title {
    font-weight: bold;
  }

  .hub__inventory__item {
    border-radius: 8px;
  }
}
=======

>>>>>>> 836745cd59c9a659e8cc46d765298a204af327e7
