.transform__product__ad__container {
  width: 80%;
  padding: 35px;
  margin: 0 auto;
  border-radius: 8px;
}

.transform__product__ad__title__section {
  text-align: center;
  margin: 35px 0;
  font-size: 2em;
  font-weight: bold;
}
