.transaction__container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  overflow: hidden;
  padding: 10px;
  height: 100vh;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 425px) {
    width: 425px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }

  .transaction__title{
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      width: 90%;
    }
  }

  .transaction__product__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 90%;
    }

    .transaction__product__image{
      width: 100px;

      @media screen and (min-width: 375px) {
        width: 125px;
      }

      @media screen and (min-width: 425px) {
        width: 140px;
      }

      @media screen and (min-width: 768px) {
        width: 150px;
      }

      @media screen and (min-width: 1024px) {
        width: 160px;
      }
    }

    .transaction__product__information__container{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
    }

    .transaction__product__name__totalprice{
        font-weight: bold;
    }

    .transaction__product__information__price{
      color: grey;
    }

    .transaction__product__counter{
      width: 30px;
      border: 1px solid black;
      height: 30px;
      text-align: center;
    }

    .transaction__product__footer__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;

      .transaction__product__trash{

        @media screen and (min-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }

  .transaction__terms__container{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    padding-left: 5px;

    @media screen and (min-width: 768px) {
      width: 90%;
    }

    .transaction__terms__input{
      align-self: baseline;
    }

    .transaction__terms__text{
      overflow: hidden;

      .transaction__terms__span{
        font-weight: bold;
        font-style: italic;
      }
    }
  }

  .transaction__footer__container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;

    @media screen and (min-width: 768px) {
      width: 90%;
    }

    .transaction__footer__information{
      display: flex;
      justify-content: space-between;

      .transaction__footer__element{
        color: grey;
      }
    }
  }

  .transaction__total__container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      width: 90%;
    }

    .transaction__total_element{
      font-size: 22px;
      font-weight: bold;
    }
  }

  .transaction__validation__button{
    display: flex;
    background: grey;
    width: auto;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    font-size: 18px;
  }
}